@page "/Discover/Cuisineresults"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager


<PageTitle>Results</PageTitle>

    <div class = "recipeContainer">

    
    @if(_cuisine == "All")
    {
        @for(var i = 0; i < list.Length; i++){
        <RecipeImageHorizontal
            Image =""
            Difficulty = "@list[i].Difficulty"
            SpicyLevel = "@list[i].Spicy"
            Calories = "@list[i].CaloriesPerServing"
            Name = "@list[i].Name"
            Time = "@list[i].Time"
        />
        }
    }
    else{
        @for(var i = 0; i < list.Length; i++){
            if(@list[i].Category == _cuisine){
                <RecipeImageHorizontal
                    Image =""
                    Difficulty = "@list[i].Difficulty"
                    SpicyLevel = "@list[i].Spicy"
                    Calories = "@list[i].CaloriesPerServing"
                    Name = "@list[i].Name"
                    Time = "@list[i].Time"
                />
            }
        }
    }
</div>


@code{
    private string? _cuisine;
    private CookingInstructor.RecipeNS.Recipe[]? list;

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var queryStrings = QueryHelpers.ParseQuery(uri.Query);
        if(queryStrings.TryGetValue("cuisine", out var cuisine))
        {
            _cuisine = cuisine;
        }
        Data.Recipes myClass = new Data.Recipes();
        list = myClass.getRecipes();
    }
}