@page "/favourites"

<PageTitle>Favourites</PageTitle>
<div class="d-grid gap-3">

    <div class="h-100 d-flex align-items-center justify-content-center" style="max-width: 812px;">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><svg xmlns="http://www.w3.org/2000/svg"
                width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="mx-3">
                <circle cx="10.5" cy="10.5" r="8"></circle>
                <line x1="21" y1="25" x2="15.8" y2="18.8"></line>
            </svg></button>
    </div>
</div>

<div class = "recipeContainer">
        @for(var i = 0; i < list.Length; i++){
            if(list[i].isFavorite == true){
                display = true;
                <RecipeImageHorizontal
                    Image = "@list[i].imagePath"
                    Difficulty = "@list[i].Difficulty"
                    SpicyLevel = "@list[i].Spicy"
                    Calories = "@list[i].CaloriesPerServing"
                    Name = "@list[i].Name"
                    Time = "@list[i].Time"
                    Index ="@i"
                />
            }
        }

        @if(display == false){
            <h1>No favourites found...</h1>
        }

</div>

@code{
    private CookingInstructor.RecipeNS.Recipe[]? list = Index.staticlist;
    
    private bool display = false;
    protected override void OnInitialized()
    {
        Data.Recipes myClass = new Data.Recipes();
    }
}